In [1]:
import numpy as np
import pandas as pd

In [2]:
# Read the CSV file
df = pd.read_csv('./data/BTCUSDT_1m.csv')

# Display summary statistics
pd.set_option('display.float_format', lambda x: '%.2f' % x)
df = df.sort_values(by='open_time', ascending=True).reset_index(drop=True)
df.describe()

,id,open_time,close_time,open_px,high_px,low_px,close_px,number_of_trades,base_asset_volume,quote_asset_volume,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
count,1712440.00,1712440.00,1712440.00,1712440.00,1712440.00,1712440.00,1712440.00,1712440.00,1712440.00,1712440.00,1712440.00,1712440.00
mean,23920164.76,1692371051941.56,1692371111940.55,45087.09,45104.55,45069.54,45087.11,2082.83,61.67,1875605.33,30.60,928569.38
std,4401646.96,29661797757.94,29661797757.95,24416.90,24426.17,24407.44,24416.92,2698.41,117.21,2987588.51,59.37,1551010.81
min,21790970.00,1640995200000.00,1640995259999.00,15513.84,15544.47,15476.00,15513.84,0.00,0.00,0.00,0.00,0.00
25%,22219079.75,1666681785000.00,1666681844999.00,26008.41,26012.43,26003.95,26008.45,511.00,9.21,427967.53,3.81,179859.34
50%,22647189.50,1692373170000.00,1692373229999.00,38353.79,38375.25,38333.74,38353.83,1055.00,21.72,959140.90,10.46,457444.88
75%,23075299.25,1718059755000.00,1718059814999.00,63256.00,63280.00,63233.60,63256.00,2695.00,65.11,2166667.13,32.66,1078627.69
max,38901269.00,1743742740000.00,1743742799999.00,109185.87,109588.00,108945.08,109194.17,149713.00,5877.78,259850148.73,3537.45,100418248.88

In [3]:
# Get memory usage of the dataframe
memory_usage = df.memory_usage(deep=True)

# Convert to MB for better readability
memory_usage_mb = memory_usage.sum() / 1024 / 1024

print("\nMemory usage breakdown by column (bytes):")
for column, usage in memory_usage.items():
    print(f"{column}: {usage:,} bytes")
    
print(f"\nTotal memory usage: {memory_usage_mb:.2f} MB")

Memory usage breakdown by column (bytes):
Index: 132 bytes
id: 13,699,520 bytes
symbol: 95,896,640 bytes
interval: 87,334,440 bytes
open_time: 13,699,520 bytes
close_time: 13,699,520 bytes
open_px: 13,699,520 bytes
high_px: 13,699,520 bytes
low_px: 13,699,520 bytes
close_px: 13,699,520 bytes
number_of_trades: 13,699,520 bytes
base_asset_volume: 13,699,520 bytes
quote_asset_volume: 13,699,520 bytes
taker_buy_base_asset_volume: 13,699,520 bytes
taker_buy_quote_asset_volume: 13,699,520 bytes

Total memory usage: 331.52 MB

In [4]:
df.columns

Index(['id', 'symbol', 'interval', 'open_time', 'close_time', 'open_px',
       'high_px', 'low_px', 'close_px', 'number_of_trades',
       'base_asset_volume', 'quote_asset_volume',
       'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume'],
      dtype='object')

In [5]:
# Create a dictionary mapping old column names to new ones with '1m_' prefix
rename_dict = {
    'open_time': '1m_open_time',
    'close_time': '1m_close_time', 
    'open_px': '1m_open_px',
    'high_px': '1m_high_px',
    'low_px': '1m_low_px',
    'close_px': '1m_close_px',
    'number_of_trades': '1m_number_of_trades',
    'base_asset_volume': '1m_base_asset_volume',
    'quote_asset_volume': '1m_quote_asset_volume',
    'taker_buy_base_asset_volume': '1m_taker_buy_base_asset_volume',
    'taker_buy_quote_asset_volume': '1m_taker_buy_quote_asset_volume'
}

# Rename the columns
df = df.rename(columns=rename_dict)

# Display the new column names
print("New column names:")
print(df.columns)

New column names:
Index(['id', 'symbol', 'interval', '1m_open_time', '1m_close_time',
       '1m_open_px', '1m_high_px', '1m_low_px', '1m_close_px',
       '1m_number_of_trades', '1m_base_asset_volume', '1m_quote_asset_volume',
       '1m_taker_buy_base_asset_volume', '1m_taker_buy_quote_asset_volume'],
      dtype='object')

In [6]:
df[['1m_open_time', '1m_close_time', '1m_open_px', '1m_high_px', '1m_low_px', '1m_close_px']].head(10)

,1m_open_time,1m_close_time,1m_open_px,1m_high_px,1m_low_px,1m_close_px
0,1640995200000,1640995259999,46216.93,46271.08,46208.37,46250.00
1,1640995260000,1640995319999,46250.00,46344.23,46234.39,46312.76
2,1640995320000,1640995379999,46312.76,46381.69,46292.75,46368.73
3,1640995380000,1640995439999,46368.73,46391.49,46314.26,46331.08
4,1640995440000,1640995499999,46331.07,46336.10,46300.00,46321.34
5,1640995500000,1640995559999,46321.34,46443.56,46280.00,46436.03
6,1640995560000,1640995619999,46436.03,46518.32,46432.50,46518.31
7,1640995620000,1640995679999,46518.31,46527.26,46427.06,46427.95
8,1640995680000,1640995739999,46427.94,46427.97,46383.78,46392.64
9,1640995740000,1640995799999,46392.64,46406.48,46350.96,46371.11

In [7]:
# Create 5-minute aggregations
# First create a group index (0-4) that repeats every 5 rows
df['group_idx'] = df.index % 5

# Create is_5m_closed column - True for last entry in each group
df['is_5m_closed'] = df['group_idx'] == 4

# Group by integer division of index to get 5-minute groups
groups = df.groupby(df.index // 5)

# Create 5m columns - using cummax/cummin within groups for high/low prices
df['5m_open_time'] = groups['1m_open_time'].transform('first')
df['5m_close_time'] = groups['1m_close_time'].transform('last') 
df['5m_open_px'] = groups['1m_open_px'].transform('first')
df['5m_high_px'] = groups['1m_high_px'].transform('cummax')
df['5m_low_px'] = groups['1m_low_px'].transform('cummin')
df['5m_close_px'] = df['1m_close_px']

# Drop temporary grouping column
df = df.drop('group_idx', axis=1)

# Display first few rows to verify
df[['5m_open_time', '5m_close_time', '5m_open_px', '5m_high_px', '5m_low_px', '5m_close_px', 'is_5m_closed']].head(10)

,5m_open_time,5m_close_time,5m_open_px,5m_high_px,5m_low_px,5m_close_px,is_5m_closed
0,1640995200000,1640995499999,46216.93,46271.08,46208.37,46250.00,False
1,1640995200000,1640995499999,46216.93,46344.23,46208.37,46312.76,False
2,1640995200000,1640995499999,46216.93,46381.69,46208.37,46368.73,False
3,1640995200000,1640995499999,46216.93,46391.49,46208.37,46331.08,False
4,1640995200000,1640995499999,46216.93,46391.49,46208.37,46321.34,True
5,1640995500000,1640995799999,46321.34,46443.56,46280.00,46436.03,False
6,1640995500000,1640995799999,46321.34,46518.32,46280.00,46518.31,False
7,1640995500000,1640995799999,46321.34,46527.26,46280.00,46427.95,False
8,1640995500000,1640995799999,46321.34,46527.26,46280.00,46392.64,False
9,1640995500000,1640995799999,46321.34,46527.26,46280.00,46371.11,True

In [8]:
# Create 15-minute aggregations from 1m data
df['group_idx'] = df.index % 15

# Create is_15m_closed column - True for last entry in each group
df['is_15m_closed'] = df['group_idx'] == 14

# Group by integer division of index to get 5-minute groups
groups = df.groupby(df.index // 15)

# Create 15m columns - using cummax/cummin within groups for high/low prices
df['15m_open_time'] = groups['1m_open_time'].transform('first')
df['15m_close_time'] = groups['1m_close_time'].transform('last') 
df['15m_open_px'] = groups['1m_open_px'].transform('first')
df['15m_high_px'] = groups['1m_high_px'].transform('cummax')
df['15m_low_px'] = groups['1m_low_px'].transform('cummin')
df['15m_close_px'] = df['1m_close_px']

# Drop temporary grouping column
df = df.drop('group_idx', axis=1)

# Display first few rows to verify
df[['15m_open_time', '15m_close_time', '15m_open_px', '15m_high_px', '15m_low_px', '15m_close_px', 'is_15m_closed']].head(15)

,15m_open_time,15m_close_time,15m_open_px,15m_high_px,15m_low_px,15m_close_px,is_15m_closed
0,1640995200000,1640996099999,46216.93,46271.08,46208.37,46250.00,False
1,1640995200000,1640996099999,46216.93,46344.23,46208.37,46312.76,False
2,1640995200000,1640996099999,46216.93,46381.69,46208.37,46368.73,False
3,1640995200000,1640996099999,46216.93,46391.49,46208.37,46331.08,False
4,1640995200000,1640996099999,46216.93,46391.49,46208.37,46321.34,False
5,1640995200000,1640996099999,46216.93,46443.56,46208.37,46436.03,False
6,1640995200000,1640996099999,46216.93,46518.32,46208.37,46518.31,False
7,1640995200000,1640996099999,46216.93,46527.26,46208.37,46427.95,False
8,1640995200000,1640996099999,46216.93,46527.26,46208.37,46392.64,False
9,1640995200000,1640996099999,46216.93,46527.26,46208.37,46371.11,False
10,1640995200000,1640996099999,46216.93,46527.26,46208.37,46379.80,False
11,1640995200000,1640996099999,46216.93,46527.26,46208.37,46312.37,False
12,1640995200000,1640996099999,46216.93,46527.26,46208.37,46288.64,False
13,1640995200000,1640996099999,46216.93,46527.26,46208.37,46329.00,False
14,1640995200000,1640996099999,46216.93,46527.26,46208.37,46332.51,True

In [9]:
# Create 1-hour aggregations from 1m data
df['group_idx'] = df.index % 60

# Create is_5m_closed column - True for last entry in each group
df['is_1h_closed'] = df['group_idx'] == 59

# Group by integer division of index to get 5-minute groups
groups = df.groupby(df.index // 60)

# Create 5m columns - using cummax/cummin within groups for high/low prices
df['1h_open_time'] = groups['1m_open_time'].transform('first')
df['1h_close_time'] = groups['1m_close_time'].transform('last') 
df['1h_open_px'] = groups['1m_open_px'].transform('first')
df['1h_high_px'] = groups['1m_high_px'].transform('cummax')
df['1h_low_px'] = groups['1m_low_px'].transform('cummin')
df['1h_close_px'] = df['1m_close_px']

# Drop temporary grouping column
df = df.drop('group_idx', axis=1)

# Display first few rows to verify
df[['1h_open_time', '1h_close_time', '1h_open_px', '1h_high_px', '1h_low_px', '1h_close_px', 'is_1h_closed']].head(15)

,1h_open_time,1h_close_time,1h_open_px,1h_high_px,1h_low_px,1h_close_px,is_1h_closed
0,1640995200000,1640998799999,46216.93,46271.08,46208.37,46250.00,False
1,1640995200000,1640998799999,46216.93,46344.23,46208.37,46312.76,False
2,1640995200000,1640998799999,46216.93,46381.69,46208.37,46368.73,False
3,1640995200000,1640998799999,46216.93,46391.49,46208.37,46331.08,False
4,1640995200000,1640998799999,46216.93,46391.49,46208.37,46321.34,False
5,1640995200000,1640998799999,46216.93,46443.56,46208.37,46436.03,False
6,1640995200000,1640998799999,46216.93,46518.32,46208.37,46518.31,False
7,1640995200000,1640998799999,46216.93,46527.26,46208.37,46427.95,False
8,1640995200000,1640998799999,46216.93,46527.26,46208.37,46392.64,False
9,1640995200000,1640998799999,46216.93,46527.26,46208.37,46371.11,False
10,1640995200000,1640998799999,46216.93,46527.26,46208.37,46379.80,False
11,1640995200000,1640998799999,46216.93,46527.26,46208.37,46312.37,False
12,1640995200000,1640998799999,46216.93,46527.26,46208.37,46288.64,False
13,1640995200000,1640998799999,46216.93,46527.26,46208.37,46329.00,False
14,1640995200000,1640998799999,46216.93,46527.26,46208.37,46332.51,False

In [10]:
# Create 4-hour aggregations from 1m data
df['group_idx'] = df.index % 240

# Create is_4h_closed column - True for last entry in each group
df['is_4h_closed'] = df['group_idx'] == 239

groups = df.groupby(df.index // 240)

df['4h_open_time'] = groups['1m_open_time'].transform('first')
df['4h_close_time'] = groups['1m_close_time'].transform('last') 
df['4h_open_px'] = groups['1m_open_px'].transform('first')
df['4h_high_px'] = groups['1m_high_px'].transform('cummax')
df['4h_low_px'] = groups['1m_low_px'].transform('cummin')
df['4h_close_px'] = df['1m_close_px']

# Drop temporary grouping column
df = df.drop('group_idx', axis=1)

# Display first few rows to verify
df[['4h_open_time', '4h_close_time', '4h_open_px', '4h_high_px', '4h_low_px', '4h_close_px', 'is_4h_closed']].head(15)

,4h_open_time,4h_close_time,4h_open_px,4h_high_px,4h_low_px,4h_close_px,is_4h_closed
0,1640995200000,1641009599999,46216.93,46271.08,46208.37,46250.00,False
1,1640995200000,1641009599999,46216.93,46344.23,46208.37,46312.76,False
2,1640995200000,1641009599999,46216.93,46381.69,46208.37,46368.73,False
3,1640995200000,1641009599999,46216.93,46391.49,46208.37,46331.08,False
4,1640995200000,1641009599999,46216.93,46391.49,46208.37,46321.34,False
5,1640995200000,1641009599999,46216.93,46443.56,46208.37,46436.03,False
6,1640995200000,1641009599999,46216.93,46518.32,46208.37,46518.31,False
7,1640995200000,1641009599999,46216.93,46527.26,46208.37,46427.95,False
8,1640995200000,1641009599999,46216.93,46527.26,46208.37,46392.64,False
9,1640995200000,1641009599999,46216.93,46527.26,46208.37,46371.11,False
10,1640995200000,1641009599999,46216.93,46527.26,46208.37,46379.80,False
11,1640995200000,1641009599999,46216.93,46527.26,46208.37,46312.37,False
12,1640995200000,1641009599999,46216.93,46527.26,46208.37,46288.64,False
13,1640995200000,1641009599999,46216.93,46527.26,46208.37,46329.00,False
14,1640995200000,1641009599999,46216.93,46527.26,46208.37,46332.51,False

In [11]:
# Create 1-day aggregations from 1m data
df['group_idx'] = df.index % 1440

# Create is_1d_closed column - True for last entry in each group
df['is_1d_closed'] = df['group_idx'] == 1439

groups = df.groupby(df.index // 1440)

df['1d_open_time'] = groups['1m_open_time'].transform('first')
df['1d_close_time'] = groups['1m_close_time'].transform('last') 
df['1d_open_px'] = groups['1m_open_px'].transform('first')
df['1d_high_px'] = groups['1m_high_px'].transform('cummax')
df['1d_low_px'] = groups['1m_low_px'].transform('cummin')
df['1d_close_px'] = df['1m_close_px']

df = df.drop('group_idx', axis=1)

df[['1d_open_time', '1d_close_time', '1d_open_px', '1d_high_px', '1d_low_px', '1d_close_px', 'is_1d_closed']].head(15)

,1d_open_time,1d_close_time,1d_open_px,1d_high_px,1d_low_px,1d_close_px,is_1d_closed
0,1640995200000,1641081599999,46216.93,46271.08,46208.37,46250.00,False
1,1640995200000,1641081599999,46216.93,46344.23,46208.37,46312.76,False
2,1640995200000,1641081599999,46216.93,46381.69,46208.37,46368.73,False
3,1640995200000,1641081599999,46216.93,46391.49,46208.37,46331.08,False
4,1640995200000,1641081599999,46216.93,46391.49,46208.37,46321.34,False
5,1640995200000,1641081599999,46216.93,46443.56,46208.37,46436.03,False
6,1640995200000,1641081599999,46216.93,46518.32,46208.37,46518.31,False
7,1640995200000,1641081599999,46216.93,46527.26,46208.37,46427.95,False
8,1640995200000,1641081599999,46216.93,46527.26,46208.37,46392.64,False
9,1640995200000,1641081599999,46216.93,46527.26,46208.37,46371.11,False
10,1640995200000,1641081599999,46216.93,46527.26,46208.37,46379.80,False
11,1640995200000,1641081599999,46216.93,46527.26,46208.37,46312.37,False
12,1640995200000,1641081599999,46216.93,46527.26,46208.37,46288.64,False
13,1640995200000,1641081599999,46216.93,46527.26,46208.37,46329.00,False
14,1640995200000,1641081599999,46216.93,46527.26,46208.37,46332.51,False

In [15]:
# Strategy 1, Buy on 0:00, Sell on 12:00
df["signal_1"] = 0
df.loc[df["1m_open_time"] % 86400000 == 0, "signal_1"] = 1
df.loc[df["1m_open_time"] % 86400000 == 43200000, "signal_1"] = -1
# Vectorized calculation of asset positions
df["asset_1_usdt"] = 1000
df["asset_1_btc"] = 0

df["signal_1"].describe()

count   1712440.00
mean          0.00
std           0.04
min          -1.00
25%           0.00
50%           0.00
75%           0.00
max           1.00
Name: signal_1, dtype: float64

In [ ]:
from tqdm import tqdm

df["asset_1_usdt"] = 1000
df["asset_1_btc"] = 0
n_trade_usdt = 1000
for i in tqdm(range(len(df) - 1)):
    n_btc = df["asset_1_btc"].iloc[i]
    n_usdt = df["asset_1_usdt"].iloc[i]
    btcusdt_price = df["1m_close_px"].iloc[i]
    if df["signal_1"].iloc[i] == 1:
        n_usdt = n_usdt - n_trade_usdt
        n_trade_btc = n_trade_usdt / btcusdt_price
        n_btc = n_btc + n_trade_btc
        df["asset_1_usdt"].iloc[i + 1] = n_usdt
        df["asset_1_btc"].iloc[i + 1] = n_btc
    elif df["signal_1"].iloc[i] == -1:
        n_trade_btc = n_trade_usdt / btcusdt_price
        n_btc = n_btc - n_trade_btc
        n_usdt = n_usdt + n_trade_usdt
        df["asset_1_usdt"].iloc[i + 1] = n_usdt
        df["asset_1_btc"].iloc[i + 1] = n_btc
    elif df["signal_1"].iloc[i] == 0:
        df["asset_1_usdt"].iloc[i + 1] = n_usdt
        df["asset_1_btc"].iloc[i + 1] = n_btc
    else:
        raise ValueError("Invalid signal")